<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Chris fung" />
    <title>What to eat</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <style>
      .content_sec {
        width: 80%;
        padding: 10px 0 0 10px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
      }

      .content_sec > div {
        width: 10vw;
        height: 100px;
      }
      .alert_spacing {
        padding: 60px 0px 0px 0px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">What to eat</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
              </li>
              {% if adminstate == true %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">admin</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="alert_spacing"></div>
      {% with messages = get_flashed_messages(with_categories=true)%} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{category}}">{{message}}</div>
      {%endfor%} {%endif%} {%endwith%}{% block content %}{% endblock %}
    </section>
  </body>
</html>
