{% extends "home.html" %} {% block content %}

<style>
  .main {
    background-color: rgb(219, 244, 250);
    width: 60%;
    border: 5px solid rgb(131, 131, 131);
    padding: 50px;
    margin: auto;
    align-content: center;
  }
</style>
<br>
  <div class="main">
    <h1>About us:</h1>
    <p>
      Here in Speedlance,we aim to provide the best platform for freelancers to promote themselves,
      with the simplist procedure and the most exposure to promote themselves,
      , come and register to become one of our members today!
    </p>
    <p>Please feel free to contact us when ever you have any further inquries.</p>
    <h2>Contact us:</h2>
    <p>Phone:12345678</p>
    <p>Email:Speedlance@email.com</p>
    
  </div>
  {% endblock content%}
</b>
